Repository VictorAvelar/mollie-api-go, pull requests merged in 2020-10, with the labels that each got.

#66 Fix linting error errcheck #64
  mollie/mollie.go
  mollie/mollie_test.go
Labels: bug, in proggress

#79 Documentation/create chargebacks code samples
  .scrutinizer.yml
  .travis.yml
  examples/chargebacks.go
  mollie/chargebacks_test.go
Labels: documentation, enhancement, hacktoberfest

#80 fixes golint errors
  CHANGELOG.md
  mollie/mandates.go
  mollie/mollie_test.go
Labels: housekeeping

#81 Housekeeping - add dev utils
  CHANGELOG.md
  Dockerfile
  Makefile
  mollie/common_types.go
Labels: housekeeping

#82 Documentation/create profiles code samples
  examples/profiles.go
  mollie/profiles_test.go
Labels: documentation, enhancement, hacktoberfest-accepted

#84 Feature/gift card toggle and supported issuers
  .github/stale.yml
  .github/workflows/golangci-lint.yml
  CHANGELOG.md
  mollie/gift_cards.go
  mollie/profiles.go
  mollie/profiles_test.go
  testdata/profiles.go
Labels: API parity, enhancement, hacktoberfest-accepted

#86 go version bump
  go.mod
  go.sum
Labels: hacktoberfest-accepted, important, in proggress

#87 Removes unused variable `requiredCreateParamRefund`
  mollie/refunds.go
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#88 Documentation/create enable / disable gift card issuer code samples
  examples/profiles.go
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#89 Fix token parsing from custom env variable or org token
  CHANGELOG.md
  docs/README.md
  examples/auth/static_keys.go
  examples/profiles.go
  go.sum
  mollie/mollie.go
Labels: bug, hacktoberfest-accepted, important

#90 Fix linting errors - S1039
  mollie/chargebacks.go
  mollie/invoices.go
  mollie/methods.go
  mollie/orders.go
  mollie/payments.go
  mollie/refunds.go
  mollie/subscriptions.go
Labels: enhancement, hacktoberfest-accepted

#92 91 Fix tag on MethodOptions
  docs/README.md
  mollie/methods.go
Labels: bug, hacktoberfest-accepted, important

#94 Fixed amount query parsing for payment methods
  CHANGELOG.md
  docs/README.md
  mollie/methods.go
  mollie/methods_test.go
Labels: bug

#95 Added parsed response content to error
  CHANGELOG.md
  docs/README.md
  mollie/mollie.go
  mollie/mollie_test.go
Labels: enhancement

#93 Add example to for customer and payment
  examples/customers/customer.go
Labels: documentation, enhancement, hacktoberfest-accepted

#96 Documentation/create subscription code samples
  examples/subscriptions.go
Labels: documentation, enhancement, hacktoberfest-accepted
