Repository VictorAvelar/mollie-api-go, pull requests merged in 2021-10, with the labels that each got.

#154 Always initialize userAgent in NewClient
  mollie/mollie.go
Labels: enhancement, hacktoberfest-accepted

#159 Add Mollie Partners API
  docs/README.md
  go.mod
  go.sum
  mollie/mollie.go
  mollie/partners.go
  mollie/partners_test.go
  testdata/partners.go
Labels: enhancement, API parity, hacktoberfest-accepted, area/partners

#160 add organization partner status action
  docs/README.md
  mollie/organizations.go
  mollie/organizations_test.go
  testdata/organizations.go
Labels: documentation, enhancement, hacktoberfest-accepted, area/organizations
