Repository VictorAvelar/mollie-api-go, pull requests merged in 2023-02, with the labels that each got.

#207 Balance reports: BETA implementation
  mollie/balances.go
  mollie/balances_test.go
  mollie/mollie.go
  testdata/balances.go
Labels: core, testdata

#221 Housekeeping: 02.2023
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .golangci.yaml
  README.md
  SECURITY.md
  docs/README.md
  mollie/balances.go
  mollie/chargebacks.go
  mollie/common_types.go
  mollie/connect/oauth2.go
  mollie/customers.go
  mollie/gift_cards.go
  mollie/invoices.go
  mollie/mandates.go
  mollie/miscellaneous.go
  mollie/mollie.go
  mollie/mollie_test.go
  mollie/orders.go
  mollie/organizations.go
  mollie/partners.go
  mollie/payment_links.go
  mollie/payment_methods.go
  mollie/payments.go
  mollie/permissions.go
  mollie/profiles.go
  mollie/refunds.go
  mollie/settlements.go
  mollie/shipments.go
  mollie/subscriptions.go
Labels: documentation, gh-actions, core

#222 fix(gh_actions): fix workflow files
  .devcontainer/devcontainer.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
Labels: gh-actions

#225 fix(config): remove breaking change
  .devcontainer/devcontainer.json
  README.md
  docs/README.md
  mollie/common_types.go
  mollie/config.go
  mollie/config_test.go
  mollie/mollie_test.go
  mollie/payments_test.go
  mollie/refunds_test.go
  mollie/shipments_test.go
  mollie/subscriptions_test.go
Labels: documentation, core

#224 refactor: adds business category, refactors onboarding structs
  docs/README.md
  mollie/common_types.go
  mollie/onboarding.go
  mollie/profiles.go
  testdata/profiles.go
Labels: documentation, core, testdata

#227 Deprecates CategoryCode in favour of BusinessCategory
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/codeql-analysis.yml
  .golangci.yaml
  docs/README.md
  mollie/common_types.go
  mollie/onboarding.go
  mollie/profiles.go
  testdata/profiles.go
Labels: documentation, gh-actions, core, testdata
