Repository VictorAvelar/mollie-api-go, pull requests merged in 2024-09, with the labels that each got.

#390 fixes Payment struct AmountChargedBack json field tag
  docs/README.md
  mollie/payments.go
Labels: documentation, core

#392 Fix documentation links and automate with lychee
  .github/workflows/documentation-links.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  SECURITY.md
  docs/README.md
  lychee.toml
  mollie/balances.go
  mollie/captures.go
  mollie/chargebacks.go
  mollie/client_links.go
  mollie/clients.go
  mollie/customers.go
  mollie/mandates.go
  mollie/onboarding.go
  mollie/orders.go
  mollie/organizations.go
  mollie/payment_links.go
  mollie/payment_methods.go
  mollie/payments.go
  mollie/permissions.go
  mollie/profiles.go
  mollie/refunds.go
  mollie/settlements.go
  mollie/shipments.go
  mollie/subscriptions.go
  mollie/wallets.go
  testdata/balances.go
  testdata/captures.go
  testdata/chargebacks.go
  testdata/client_links.go
  testdata/customers.go
  testdata/invoices.go
  testdata/mandates.go
  testdata/methods.go
  testdata/onboarding.go
  testdata/orders.go
  testdata/organizations.go
  testdata/partners.go
  testdata/payment_links.go
  testdata/payments.go
  testdata/permissions.go
  testdata/profiles.go
  testdata/refunds.go
  testdata/settlements.go
  testdata/shipments.go
  testdata/subscriptions.go
  testdata/terminals.go
Labels: documentation, gh-actions, core, testdata, meta-files

#399 chore(actions): skip link checking if pr is opened by dependabot
  .github/workflows/documentation-links.yml
Labels: gh-actions, core
