Repository VictorAvelar/mollie-api-go, pull requests merged in 2025-08, with the labels that each got.

#452 Repository housekeeping
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Labels: gh-actions, core, devcontainers

#459 Add portuguese payment methods
  README.md
  docs/README.md
  mollie/payments.go
Labels: documentation, core, meta-files

#461 fix: broken documentation links
  docs/README.md
  mollie/chargebacks.go
  mollie/orders.go
  mollie/refunds.go
  mollie/settlements.go
Labels: documentation, core

#465 feat(payment_methods): add new payment methods
  docs/README.md
  mollie/payments.go
Labels: documentation, core
